.bear-react-datepicker__root,
.bear-react-datepicker__root *,
.bear-react-datepicker__root *::before,
.bear-react-datepicker__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.bear-react-datepicker__root {
    background-color: #fff;
    width: calc(30px * 7 + 24px);
    margin: 0 auto;
    box-shadow:
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);
}


.bear-react-datepicker__year-month-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 1px #f0f0f0;
    line-height: 38px;
}

.bear-react-datepicker__year-month {
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
}


.bear-react-datepicker__year {
    color: inherit;
    font-size: 14px;
    flex: 0 0 auto;
    cursor: pointer;
    margin-right: 5px;
}


.bear-react-datepicker__year-group,
.bear-react-datepicker__month-group {
    position: relative;
}


.bear-react-datepicker__month {
    color: inherit;
    font-size: 14px;
    flex: 0 0 auto;
}


.bear-react-datepicker__month-select,
.bear-react-datepicker__year-select {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.bear-react-datepicker__change-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 4px 1px;
}

.bear-react-datepicker__month-button {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bear-react-datepicker__month-button.next-month{
    transform: rotate(180deg);
}


.bear-react-datepicker__month-button:hover i{
    color: rgba(0, 0, 0, 0.65);
}

.bear-react-datepicker__month-button i{
    transition: color .3s;
}


.bear-react-datepicker__day-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 12px;
}




.bear-react-datepicker__week,
.bear-react-datepicker__day,
.bear-react-datepicker__pre-day{
    flex: 0 0 30px;
    color: rgba(0, 0, 0, 0.65);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 13px;
}

.bear-react-datepicker__week-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bear-react-datepicker__day,
.bear-react-datepicker__pre-day {
    position: relative;
}

.bear-react-datepicker__day:before,
.bear-react-datepicker__pre-day:before{
    content: '';
    border-radius: 99px;
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 0;
}

.bear-react-datepicker__day:hover,
.bear-react-datepicker__pre-day:hover{
    color: #ababab;
    cursor: pointer;
}

.bear-react-datepicker__day.is-today{
    color: var(--primary-color, #00a3e0);
}

.bear-react-datepicker__pre-day{
    color: rgba(0, 0, 0, 0.25);
}

.bear-react-datepicker__day span,
.bear-react-datepicker__pre-day span{
    z-index: 1;
}

.bear-react-datepicker__day.is-active:before,
.bear-react-datepicker__pre-day.is-active:before{
    background-color: var(--primary-color, #00a3e0);
}

.bear-react-datepicker__day.is-active,
.bear-react-datepicker__pre-day.is-active,
.bear-react-datepicker__day.is-active:after,
.bear-react-datepicker__pre-day.is-active:after{
    color: #fff;
}


.bear-react-datepicker__label-check-card-create{
    display: flex;
    align-items: center;
    border-top: solid 1px #f0f0f0;
    cursor: pointer;
}

.bear-react-datepicker__today-button{
    color: var(--primary-color);
    background-color: transparent;
    flex: 1 1 auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 14px;
    line-height: 38px;
}
