.bear-react-rangeDatepicker__root,
.bear-react-rangeDatepicker__root *,
.bear-react-rangeDatepicker__root *::before,
.bear-react-rangeDatepicker__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}


.bear-react-rangeDatepicker__root{
    display: flex;
    flex-direction: row;
    box-shadow: 3px 8px 9px 1px #00000040;

    --primary-color: #00a3e0;
    --bg-color: #262626;
    --text-color: #fff;
}


.bear-react-rangeDatepicker__root .bear-react-datepicker__root{
    box-shadow: none;
}
.bear-react-rangeDatepicker__root > div:nth-child(1) .bear-react-datepicker__root{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bear-react-rangeDatepicker__root > div:nth-child(2) .bear-react-datepicker__root{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bear-react-rangeDatepicker__label-check-card-create{
    width: 90px;
    background-color: var(--bg-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bear-react-rangeDatepicker__today-button{
    width: 70px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
    text-align: left;
    color: var(--text-color);
}
.bear-react-rangeDatepicker__today-button:hover{
    color: var(--primary-color);
    cursor: pointer;
}

