
/** -------------------------------
 *        Datepicker + time
 * ------------------------------ */


.root {
    display: flex;
    flex-direction: column;

}
.root > .group > div:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}
.root > .group > div:nth-child(2){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
}

.group {
    display: flex;
    flex-direction: row;
}
