.bear-react-datetimepicker__root {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    display: flex;
    flex-direction: row;

}

.bear-react-datetimepicker__root > .bear-react-datepicker__root{
    border-radius: 3px 0 0 3px;
}
.bear-react-datetimepicker__root > .bear-react-timepicker__root{
    border-radius: 0 3px 3px 0;
}

.bear-react-datetimepicker__root {
    display: flex;
    flex-direction: row;
}

