
/** -------------------------------
 *        Datepicker + time
 * ------------------------------ */


.bear-react-datepicker__date-time-root {
    display: flex;
    flex-direction: column;

}
.bear-react-datepicker__date-time-root > .bear-react-datepicker__date-time-group > div:nth-child(1){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}
.bear-react-datepicker__date-time-root > .bear-react-datepicker__date-time-group > div:nth-child(2){
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
}

.bear-react-datepicker__date-time-group {
    display: flex;
    flex-direction: row;
}
