.bear-react-timepicker__root,
.bear-react-timepicker__root *,
.bear-react-timepicker__root *::before,
.bear-react-timepicker__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
}

.bear-react-timepicker__root {
    background-color: #fff;
    width: 168px;
    margin: 5px;
    box-shadow:
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);
}


.bear-react-timepicker__pick-container {
    display: flex;
    line-height: 1;
}

.bear-react-timepicker__fake-select-container {
    overflow: hidden;
}

.bear-react-timepicker__select-box {
    height: 192px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    border-left: 1px solid #f0f0f0;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.bear-react-timepicker__select-box::-webkit-scrollbar {
    width: 0;
}
.bear-react-timepicker__select-box::-webkit-scrollbar-track {
    background: transparent;
}
.bear-react-timepicker__select-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}




.bear-react-timepicker__fake-option {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.bear-react-timepicker__fake-option.is-active {
    background-color: #e6f7ff;
}
.bear-react-timepicker__fake-option:hover {
    background-color: #f5f5f5;
}
.bear-react-timepicker__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f0f0f0;
    padding: 4px 12px;
    font-size: 14px;
}
.bear-react-timepicker__confirm-button {
    color: #fff;
    border: none;
    font-size: inherit;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    background-color: var(--primary-color, #00a3e0);

}
.bear-react-timepicker__now-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: var(--primary-color, #00a3e0);
}

