.acrool-react-datepicker__root,
.acrool-react-datepicker__root *,
.acrool-react-datepicker__root *::before,
.acrool-react-datepicker__root *::after {
    box-sizing: border-box;
    line-height: normal;
    user-select: none;
}



/** -------------------------------
 *        TimePicker
 * ------------------------------ */


.acrool-react-datepicker__time-root {
    display: flex;
    border-radius: var(--border-radius);
    flex-direction: column;
    min-width: calc(30px * 2);
    width: auto;
    margin: 0;


}



.acrool-react-datepicker__time-root.is-enable-sec {
    min-width: calc(30px * 3);
}




.acrool-react-datepicker__time-header {
    height: 30px;
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

.acrool-react-datepicker__time-header-text {
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.acrool-react-datepicker__time-pick-container {
    display: flex;
    line-height: 1;
    justify-content: center;
}

.acrool-react-datepicker__time-fake-select-container {
    overflow: hidden;
}

.acrool-react-datepicker__time-select-box {
    height: calc(30px * 6);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.acrool-react-datepicker__time-select-box::-webkit-scrollbar {
    width: 0;
}
.acrool-react-datepicker__time-select-box::-webkit-scrollbar-track {
    background: transparent;
}
.acrool-react-datepicker__time-select-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}




.acrool-react-datepicker__time-fake-option {
    cursor: pointer;
    color: var(--text-color);
    width: 30px;
    height: 30px;
    border-radius: 99em;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.acrool-react-datepicker__time-fake-option.is-active{
    color: var(--day-active-color);
    position: relative;
    z-index: 1;
}
.acrool-react-datepicker__time-fake-option.is-active:before {
    /*background-color: var(--bg-active-color);*/
    content: '';
    border-radius: 99em;
    position: absolute;
    z-index: -1;
    width: 90%;
    height: 90%;
    background-color: #808080;
}
.acrool-react-datepicker__time-fake-option:not(.is-active):hover {
    color: var(--primary-color, var(--default-primary-color));
}
.acrool-react-datepicker__time-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 12px;
    font-size: 14px;
    flex: 1;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border-top: 1px solid var(--container-border-color);
}
button.acrool-react-datepicker__time-confirm-button {
    color: #fff;
    border: none;
    font-size: inherit;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    background-color: var(--primary-color, var(--default-primary-color));

}
button.acrool-react-datepicker__time-now-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: var(--primary-color, var(--default-primary-color));
}




