.bear-react-timepicker__root,
.bear-react-timepicker__root *,
.bear-react-timepicker__root *::before,
.bear-react-timepicker__root *::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

.bear-react-timepicker__root{
    --primary-color: #00a3e0;
    --bg-color: #fff;
    --text-color: rgba(0, 0, 0, 0.65);
    --bg-active-color: #e6f7ff;
    --bg-hover-color: #f5f5f5;
    --border-color: #f0f0f0;

}


.bear-react-timepicker__root.dark-theme {
    --bg-color: #3b3e42;
    --text-color: rgba(255, 255, 255, 0.65);
    --bg-active-color: #727373;
    --bg-hover-color: #5e5e5e;
    --border-color: rgba(255, 255, 255, 0.25);
}




/* ========= reset start ============*/
.bear-react-timepicker__root button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: none;
    border: none;
    overflow: visible;
    text-transform: none;
}
.bear-react-timepicker__root button:focus {
    outline: none;
}

.bear-react-timepicker__root button,
.bear-react-timepicker__root [type="button"]{
    -webkit-appearance: button;
}
.bear-react-timepicker__root button:not(:disabled),
.bear-react-timepicker__root [type="button"]:not(:disabled){
    cursor: pointer;
}
.bear-react-timepicker__root button::-moz-focus-inner,
.bear-react-timepicker__root [type="button"]::-moz-focus-inner{
    padding: 0;
    border-style: none;
}
.bear-react-timepicker__root svg {overflow: hidden;vertical-align: middle;}
/* ========= reset end ============*/




.bear-react-timepicker__root {
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 113px;
    margin: 0;
    box-shadow:
            0 3px 6px -4px rgba(0, 0, 0, 0.12),
            0 6px 16px 0 rgba(0, 0, 0, 0.08),
            0 9px 28px 8px rgba(0, 0, 0, 0.05);
}



.bear-react-timepicker__root.is-enable-sec {
    width: 168px;
}




.bear-react-timepicker__header {
    height: 28px;
    width: 100%;
    border-bottom: solid 1px var(--border-color);
}
.bear-react-timepicker__header-text {
    text-align: center;
    color: var(--text-color);
    font-size: 14px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.bear-react-timepicker__pick-container {
    display: flex;
    line-height: 1;
}

.bear-react-timepicker__fake-select-container {
    overflow: hidden;
}

.bear-react-timepicker__select-box {
    height: calc(32px * 6);
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.bear-react-timepicker__select-box::-webkit-scrollbar {
    width: 0;
}
.bear-react-timepicker__select-box::-webkit-scrollbar-track {
    background: transparent;
}
.bear-react-timepicker__select-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}




.bear-react-timepicker__fake-option {
    cursor: pointer;
    color: var(--text-color);
    width: 56px;
    height: 32px;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.bear-react-timepicker__fake-option.is-active {
    background-color: var(--bg-active-color);
}
.bear-react-timepicker__fake-option:hover {
    background-color: var(--bg-hover-color);
}
.bear-react-timepicker__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    padding: 4px 12px;
    font-size: 14px;
    flex: 1;
}
.bear-react-timepicker__confirm-button {
    color: #fff;
    border: none;
    font-size: inherit;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    background-color: var(--primary-color);

}
.bear-react-timepicker__now-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: var(--primary-color);
}

