@use '../mixin' as m;


.root{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  height: 477px;
  background-color: var(--bg-color);
  position: relative;

  @include m.theme(false);

  &.dark-theme{
    @include m.theme(true);
  }

  * {
    box-sizing: border-box;
    line-height: normal;
    user-select: none
  }

}

.scroll-container{
  overflow-y: auto;
  //-webkit-overflow-scrolling : touch;
  //scroll-behavior: smooth;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.date-week{
  font-size: 12px;
  transform: scale(.9);
}


.date-year-month-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 30px;
  padding-left: 14px;
  color: var(--month-color);
}

.date-week-row-fill{
  height: 30px;
  flex: 0 0 auto;
}

.date-week-row,
.date-day-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 4px;
  padding: 0 12px;

}


.date-week-row{
  //position: absolute;
  //top: 0;
  //left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border-bottom: 1px solid var(--border-color);
}




.date-week,
.date-day{
  flex: 0 0 30px;
  color: var(--day-color);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: var(--font-size);
  position: relative;

  &:before{
    content: '';
    border-radius: 99em;
    position: absolute;
    width: 90%;
    height: 90%;
    z-index: 0;
  }

  //&[data-start-active],
  //&[data-end-active]{
  //    &:before{
  //      background-color: #808080;
  //    }
  //
  //    >span{
  //        color: #fff;
  //    }
  //}

  &[data-type="lastMonth"],
  &[data-type="nextMonth"]{
    visibility: hidden;
    color: #42a20d;
  }


  &[data-active="start"],
  &[data-active="end"]{
    color: #fff;

    &:before{
      background-color: var(--bg-active-color);
    }


    &[data-today]:before{
      background-color: var(--primary-color, var(--default-primary-color));
    }
  }

  &[data-range-kind="range"]{
    background-color: var(--bg-range-color);

    &[data-active="start"]{
      border-radius: 99em 0 0 99em;
    }
    &[data-active="end"]{
      border-radius: 0 99em 99em 0;
    }

  }

  > span{
    z-index: 1;
  }

}


.scroll-lister{
  height: 2px;
  width: 100%;
  background-color: #42a20d;
}




.date-root {
  flex-direction: column;
  width: 234px;

  display: flex;
  margin: 0;
}


